<h1>Bienvenido {{user.username}}</h1>

<img src="https://static.diariosur.es/www/multimedia/201801/12/media/cortadas/gato-kTuB-U50611884993iuD-624x385@Diario%20Sur.jpg"
  alt="Gato">

<div>
  <a href="/private">Ir a pagina privada</a>
</div>